<div class="backgroundui">
    <div class="bgcolor">
      <div class="left">
        <h1 style="color:azure">Welcome to AC Service Management System</h1>
        <h3 style="color:azure">Please register and login to book appointments.</h3>
      </div>
      <div class="right">
        <h1 style="color:azure;text-align: center;">REGISTER</h1>
        <div class="inputs">
          <br>
          <form [formGroup]="SignupForm">
            <!-- <select formControlName="userRole" id="admin/user">
                    <option value="">select</option>
                    <option  value="user">User</option>
                    <option  value="admin">Admin</option>
                  </select> -->
            <input formControlName="userRole" type="text" placeholder="userRole" id="admin/user" />
            <small *ngIf="SignupForm.controls['userRole'].dirty && SignupForm.hasError('required','userRole')">userType is required</small>
  
            <input formControlName="email" type="email" placeholder="Email" id="email" />
            <small *ngIf="SignupForm.controls['email'].dirty && SignupForm.hasError('email','email')">Email is required</small>
  
            <input formControlName="username" type="text" placeholder="Username" id="username" />
            <small *ngIf="SignupForm.controls['username'].dirty && SignupForm.hasError('required','username')">user name is required</small>
  
            <input formControlName="mobilenumber" type="tel" placeholder="Mobile number" id="mobileNumber" />
            <small *ngIf="SignupForm.controls['mobilenumber'].dirty && SignupForm.hasError('required','mobilenumber')">mobileNumber is required</small>
  
            <input formControlName="password" type="password" placeholder="Password" id="password" />
            <small *ngIf="SignupForm.controls['password'].dirty && SignupForm.hasError('required','password')">password is required</small>
  
            <input formControlName="confirmpassword" type="password" placeholder="Confirm Password" id="confirmPassword" />
            <small *ngIf="SignupForm.controls['confirmpassword'].dirty && SignupForm.get('confirmpassword')?.hasError('passwordMismatch')">password is required</small>
          </form>
        </div>
        <button (click)="onsignup()" type="submit" id="submitButton">
          <span *ngIf="signupButtonText === 'signup'">Signup</span>
          <span *ngIf="signupButtonText !== 'signup'">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </button>
        <p class="message" style="color:azure">Already registered? <a style="color:azure" routerLink="/login" id="signinLink">Login</a></p>
      </div>
    </div>
  </div>