<div class="backgroundui">
  <div class="popup-container" *ngIf="errormessage">
    <span class="alert alert-danger" role="alert"  (click)="errpopup()">
      <i class="bi bi-x-square-fill" ></i>      {{errormessage}}
    </span>
  </div>
  <div class="bgcolor">
    <div class="left">
      <h1 class="title">Welcome! To COOLING KING AC Service Appointment System</h1>
      <h3 class="subtitle">Please register to book appointments.</h3>
    </div>
    <div class="right">
      <div class="card-header">
        
      
      <h1 class="title">REGISTER</h1>
    </div>
      <div class="inputs">
        <br>
        <form [formGroup]="SignupForm">
          <label for="userRole">Select User Role (Admin/User):</label>
          <select formControlName="userRole" id="userRole">
            <option value="">Select</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
          <small *ngIf="SignupForm.controls['userRole'].dirty && SignupForm.hasError('required','userRole')">User role is required</small>
          <br>
          <label for="email">Enter Your Email:</label>
          <input formControlName="email" type="email" placeholder="Email" id="email" />
          <small *ngIf="SignupForm.controls['email'].dirty && SignupForm.hasError('pattern','email')">Invalid email</small>
          <small *ngIf="SignupForm.controls['email'].dirty && SignupForm.hasError('required','email')">Email is required</small>
          <br>
          <label for="username">Enter Username:</label>
          <input formControlName="username" type="text" placeholder="Username" id="username" />
          <small *ngIf="SignupForm.controls['username'].dirty && SignupForm.hasError('required','username')">Username is required</small>
          <small *ngIf="SignupForm.controls['username'].dirty && SignupForm.hasError('pattern','username')">Invalid name</small>
          <br>
          <label for="mobilenumber">Enter Your Mobile Number:</label>
          <input formControlName="mobilenumber" type="tel" placeholder="Mobile number" id="mobileNumber" />
          <small *ngIf="SignupForm.controls['mobilenumber'].dirty && SignupForm.hasError('required','mobilenumber')">Mobile number is required</small>
          <small *ngIf="SignupForm.controls['mobilenumber'].dirty && SignupForm.hasError('pattern','mobilenumber')">Invalid mobile number (10 digits only)</small>
          <br>
          <label for="password">Enter Your Password:</label>
          <input formControlName="password" type="password" placeholder="Password" id="password" />
          <small *ngIf="SignupForm.controls['password'].dirty && SignupForm.hasError('required','password')">Password is required</small>
          <small *ngIf="SignupForm.controls['password'].dirty && SignupForm.hasError('pattern','password')">The password must be at least 8 characters long and include at least one special character, one uppercase letter, and one lowercase letter.</small>
          <br>
          <label for="confirmpassword">Confirm Password:</label>
          <input formControlName="confirmpassword" type="password" placeholder="Confirm Password" id="confirmPassword" />
          <small *ngIf="SignupForm.controls['confirmpassword'].dirty && SignupForm.get('confirmpassword')?.hasError('passwordMismatch')">Password Does Not Match</small>
        </form>
      </div>
      <button (click)="onsignup()" type="submit" id="submitButton">
        <span *ngIf="signupButtonText === 'signup'">Signup</span>
        <span *ngIf="signupButtonText !== 'signup'">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </span>
      </button>
      <p class="message">Already registered? <a routerLink="/login" id="signinLink">Login</a></p>
    </div>
  </div>
</div>
