<app-user></app-user>

<body>
  <div class="popup-container" *ngIf="successmessage">
    <span class="alert alert-success" role="alert">
      <i class="bi bi-check-circle-fill"></i> {{successmessage}}
    </span>
  </div>
  <div class="popup-container" *ngIf="errormessage">
    <span class="alert alert-danger" role="alert" (click)="errpopup()">
      <i class="bi bi-x-square-fill"></i> {{errormessage}}
    </span>
  </div>
  <div class="bgcolor" id="myBookingBody">
    <div class="container">
      <br>
      <div class="alert" *ngIf="AppointmentArr.length===0">
        <h1>NO BOOKING</h1>
      </div>
      <table class="table table-striped" *ngIf="AppointmentArr.length>0">
        <thead>
          <tr>
            <th>#</th>
            <th>NAME</th>
            <th>DATE</th>
            <th>TIMING</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of AppointmentArr ;let i=index">
            <td>{{ i + 1 }}</td>
            <td id="centerName{{i+1}}" style="text-transform: capitalize;">{{app.servicecenter}}</td>
            <td>{{app.date}}</td>
            <td>{{app.time}}</td>
            <td>
              <div *ngIf="isserviceover(app.date)!='same'">
                <div *ngIf="!isserviceover(app.date)">
                  <button type="submit" class="btn btn-primary" (click)="fillappointment(app)" id="editBooking"
                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi-pencil-square"></i>
                  </button>
                  <button type="submit" class="btn btn-primary" (click)="deleteappointment(app.id)" id="deleteBooking">
                    <i class="bi-trash"></i>
                  </button>
                </div>
                <div *ngIf="isserviceover(app.date)">
                  <button type="submit" (click)="DownloadInvoice(app.id, app.maildid, app.servicecentermailid, i)"
                    id="{{app.id}}">
                    <span *ngIf="loadingStates[i] !=='loading...' "><i class="bi bi-download"></i></span>
                    <span *ngIf="loadingStates[i] === 'loading...'">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </span>
                  </button>
  
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submitmodel"
                    (click)="serviceimg(app.servicecentermailid)">
                    <i class="bi-layout-text-sidebar-reverse"></i>
                  </button>
                </div>
              </div>
              
              <div *ngIf="isserviceover(app.date)=='same'"> 
                
                <button type="submit" class="btn btn-primary" [disabled]="true">
                  <i class="bi-pencil-square"></i>
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="true">
                  <i class="bi-trash"></i>
                </button>
              </div>


            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="alert">
      You cannot edit or cancel the appointment on the day of service.
      <br>
      The bill is available only on the day after the service is completed.
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Appointment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="EditAppointment">
              <label>
                <h5>Enter Name of AC:</h5>
              </label>
              <input type="text" placeholder="Enter the name of the AC" id="editProductName"
                formControlName="productName">
              <small
                *ngIf="EditAppointment.controls['productName'].dirty && EditAppointment.hasError('required','productName')">Product
                name is required</small>
              <small
                *ngIf="EditAppointment.controls['productName'].dirty && EditAppointment.hasError('pattern','productName')">Only
                Alphabets Allowed</small>

              <label>
                <h5>Enter the Model number of AC:</h5>
              </label>
              <input type="text" placeholder="Enter the model no of the AC" id="editModelNo"
                formControlName="productModelNo">
              <small
                *ngIf="EditAppointment.controls['productModelNo'].dirty && EditAppointment.hasError('pattern','productModelNo')">Invalid
                Model Number</small>

              <small
                *ngIf="EditAppointment.controls['productModelNo'].dirty && EditAppointment.hasError('required','productModelNo')">productModelNo
                is required</small>
              <label>
                <h5>Enter Date of Purchase of AC:</h5>
              </label>
              <input type="date" placeholder="Enter the date of purchase of AC" id="editDateOfPurchase"
                placeholder="Enter the dateOfPurchase" formControlName="dateOfPurchase" (change)="onDateSelected()"
                [max]="tdy">
              <small
                *ngIf="EditAppointment.controls['dateOfPurchase'].dirty && EditAppointment.hasError('required','dateOfPurchase')">ProductDateOfPurchase
                is required</small>

              <label>
                <h5>Enter the Contact Number:</h5>
              </label>
              <input type="tel" placeholder="Enter the contact number" id="editContactNumber"
                formControlName="contactNumber">
              <small
                *ngIf="EditAppointment.controls['contactNumber'].dirty && EditAppointment.hasError('required','contactNumber')">Contact
                Number is required</small>
              <small
                *ngIf="EditAppointment.controls['contactNumber'].dirty && EditAppointment.hasError('pattern','contactNumber')">Invalid
                Contact Number (10 digits only)</small>
              <label>
                <h5>Enter Problem Description of AC:</h5>
              </label>
              <textarea placeholder="Enter problem of the AC" id="enterProblem"
                formControlName="problemDescription"></textarea>
              <small
                *ngIf="EditAppointment.controls['problemDescription'].dirty && EditAppointment.hasError('required','problemDescription')">problemDescription
                is required</small>
              <small
                *ngIf="EditAppointment.controls['problemDescription'].dirty && EditAppointment.hasError('pattern','problemDescription')">Only
                Alphabets allowed</small>
              <br>

              <label>
                <h5>Book the Slots</h5>
              </label>
              <div class="slots">
                <select id="selectDate" formControlName="date" placeholder="Choose the DATE">
                  <option value="" disabled selected>Select a date</option>
                  <ng-container *ngFor="let slot of availableSlots">
                    <ng-container *ngIf="isAnySlotAvailable(slot)">
                      <option [value]="slot.date">{{ slot.date }}</option>
                    </ng-container>
                    <ng-container *ngIf="!isAnySlotAvailable(slot)">
                      <option [value]="slot.date" [disabled]="true"> {{ slot.date }} - Fully Booked </option>
                    </ng-container>
                  </ng-container>
                </select>
                <small *ngIf="EditAppointment.controls['date'].dirty && EditAppointment.hasError('required', 'date')">
                  Date is required
                </small>

                <select id="selectTime" formControlName="time" placeholder="Choose the time slot">
                  <option value="" disabled selected>Select a time</option>
                  <ng-container *ngFor="let slot of availableSlots">
                    <ng-container *ngIf="slot.date === EditAppointment.value.date">
                      <option *ngFor="let timeSlot of slot.times" [value]="timeSlot.time"
                        [disabled]="timeSlot.isBooked">
                        {{ timeSlot.time }}
                      </option>
                    </ng-container>
                  </ng-container>
                </select>
                <small
                  *ngIf="EditAppointment.controls['time'].dirty && EditAppointment.controls['time'].hasError('required')">
                  Time is required </small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="Update()"
              id="updateBooking">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="submitmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CUSTOMER FEEDBACK</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h1>{{centerName}}</h1>
            <img src="{{imageurl}}" width="450" height="350">
            <br>
            <form [formGroup]="review">
              <textarea placeholder="Hey! How was the service..." id="Review" formControlName="review"></textarea>
              <small *ngIf="review.controls['review'].dirty && EditAppointment.hasError('required','review')">review is
                required</small>
              <label>Rating:</label>
              <div class="rating">
                <span class="star" *ngFor="let star of getStarsArray()" [ngClass]="{ 'filled': star <= rating }"
                  (click)="rate(star)">
                  <i class="bi bi-star-fill"></i>
                </span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reviews()"
              id="submitreview">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>