
<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-6 col-md-8 col-sm-10 mx-auto my-5">
        <div class="card shadow-lg border-0">
          <div class="card-body p-5">
            <h1 class="text-center mb-4 display-4">Welcome Back!</h1>
            <h3 class="text-center mb-4">Login Here</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control rounded-pill py-2 px-3" placeholder="Enter your email">
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger small mt-1">
                  <div *ngIf="loginForm.get('email')">Email is required.</div>
                  <div *ngIf="loginForm.get('email')">Invalid email address.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control rounded-pill py-2 px-3" placeholder="Enter your password">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger small mt-1">
                  <div *ngIf="loginForm.get('password')">Password is required.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block rounded-pill py-2">Submit</button>
              <span class="d-block text-center mt-3 small">Don't have an account? <a routerLink="/signup" class="text-primary">Sign up</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  