<app-admin></app-admin>
<body>
  <div class="popup-container" *ngIf="successmessage">
    <span class="alert alert-success" role="alert">
      <i class="bi bi-check-circle-fill"></i>      {{successmessage}}
    </span>
  </div>
  <div class="popup-container" *ngIf="errormessage">
    <span class="alert alert-danger" role="alert"  (click)="errpopup()">
      <i class="bi bi-x-square-fill" ></i>      {{errormessage}}
    </span>
  </div>
  <div class="container col">
      <div class="form">
            <div class="header"><h2 style="text-align: center;color: rgb(246, 246, 249);">ADD SERVICE CENTER</h2><br>
            </div>
              <form [formGroup]="addCenter">
              
              <label><h5>Enter Service Center Name : </h5></label>
              <input formControlName="serviceCenterName" type="text" placeholder="Enter the Service Center Name" id="addName" />
              <small *ngIf="addCenter.controls['serviceCenterName'].dirty && addCenter.hasError('pattern','serviceCenterName')">Only Alphabets Allowed </small>
              <small *ngIf="addCenter.controls['serviceCenterName'].dirty && addCenter.hasError('required','serviceCenterName')">Center name is required</small><br>
    
              <label><h5>Enter Service Center Phone Number : </h5></label>
              <input formControlName="serviceCenterPhone" type="tel" placeholder="Enter the Service Center Phone Number" id="addNumber" />
              <small *ngIf="addCenter.controls['serviceCenterPhone'].dirty && addCenter.hasError('pattern','serviceCenterPhone')">Invalid Phone Number (10 digits Only) </small>
              <small *ngIf="addCenter.controls['serviceCenterPhone'].dirty && addCenter.hasError('required','serviceCenterPhone')">Phone Number is required</small><br>
    
              <label><h5>Enter Service Center Address : </h5></label>
              <textarea formControlName="serviceCenterAddress" placeholder="Enter the Service Center Address" id="addAddress"></textarea>
              <small *ngIf="addCenter.controls['serviceCenterAddress'].dirty && addCenter.hasError('pattern','serviceCenterAddress')">Invalid Address</small>
              <small *ngIf="addCenter.controls['serviceCenterAddress'].dirty && addCenter.hasError('required','serviceCenterAddress')">Center address is required</small><br>
    
              <label><h5>Enter Service Center Image URL : </h5></label>
              <input formControlName="serviceCenterImageUrl" type="url" placeholder="Enter the Service Center Image URL" id="addImageUrl" />
              <small *ngIf="addCenter.controls['serviceCenterImageUrl'].dirty && addCenter.hasError('pattern','serviceCenterImageUrl')">Invalid Image URL</small>
              <small *ngIf="addCenter.controls['serviceCenterImageUrl'].dirty && addCenter.hasError('required','serviceCenterImageUrl')">Image URL is required</small><br>
    
              <label><h5>Enter Service Center Mail Id : </h5></label>
              <input formControlName="serviceCenteramailId" type="email" placeholder="Enter the Service Center Mail" id="addEmail" />
              <small *ngIf="addCenter.controls['serviceCenteramailId'].dirty && addCenter.hasError('pattern','serviceCenteramailId')">Invalid Email </small>

              <small *ngIf="addCenter.controls['serviceCenteramailId'].dirty && addCenter.hasError('required','serviceCenteramailId')">Email is required</small><br>
    
              <label><h5>Enter Service Center Description : </h5></label>
              <textarea formControlName="serviceCenterDescription" placeholder="Enter Service Center Description" id="addCentreDescripition"></textarea>
              <small *ngIf="addCenter.controls['serviceCenterDescription'].dirty && addCenter.hasError('pattern','serviceCenterDescription')">No Special Characters Allowed</small>

              <small *ngIf="addCenter.controls['serviceCenterDescription'].dirty && addCenter.hasError('required','serviceCenterDescription')">Center Description is required</small><br>
    
              <br><br>
              <button (click)="onadd()" type="submit" id="addButton" style="align-content: center;">
                <span *ngIf="AddserviceButtonText === 'add'">ADD SERVICE</span>
                <span *ngIf="AddserviceButtonText !== 'add'">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </span>
              </button>
            </form>
          </div>
          
        </div>
  </body>
  
  
  <div class="popup-container" *ngIf="successmessage">
    <span class="alert alert-success" role="alert">
      <i class="bi bi-check-circle-fill"></i>      {{successmessage}}
    </span>
  </div>
  <div class="popup-container" *ngIf="errormessage">
    <span class="alert alert-danger" role="alert">
      <i class="bi bi-x-square-fill" ></i>      {{errormessage}}
    </span>
  </div>